button{
-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
border-radius: 10px;}
/*a.active {
    border-bottom: none;
    color: #112b80;
}*/

#logo1 {
	margin: 20px;
}

#row1 {
	background-color: #F5F1F1;
}

.nav1 {
	height: 38px;
	background-color: #112b80;
}

.but button {
	background-color: #112b80;
}

body {
	margin: 0px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
#first {
	background-color: #112b80;
	text-align: right;
	/*padding: 0px;*/
}
.menu1 a {
	text-decoration: none;  /*dùng để bỏ phần gạch chân trong thẻ a*/
	color: white;
	font-family: arial;
	font-size: 12px;
	margin: 15px;
}
#second {
	text-align: center;
}

#second div {
	margin: 75px 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between; 
	align-items: center;
	float: none;
}