.main {
	width: 100%;
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
	background-color: #F5F1F1;
}
button{
	-webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
}

#logo1 {
	margin: 20px;
}

#row1 {
	background-color: transparent;
}

.nav1 {
	background-color: #112b80;
	width: 1364px;
	overflow-x: hidden;
	margin-bottom: 10px;
}

.nav1 a {
	height: 38px;
	color: white;
    box-shadow: 0px 1px 4px #7E7E7E;
    height: 40px;
    font-family: Arial,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-size: 15px;
    background-position: 0px -98px;
    font-weight: bold;
}

.navthua {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.but button {
	background-color: #112b80;
	padding-left: 20px;
	padding-right: 20px;
}

body {
	margin: 0px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
#first {
	background-color: #112b80;
	text-align: right;
	border-top: 4px solid #CC0000;
}
.menu1 a {
	text-decoration: none;  /*dùng để bỏ phần gạch chân trong thẻ a*/
	color: white;
	font-family: arial;
	font-size: 12px;
	margin: 15px;
}

.bor {
	border:2px solid;
    border-style: ridge;
    font-size: 12px;
    width: 494px;
    margin-top: 20px;
}

.bor1 {
	border:2px solid;
    border-style: ridge;
    font-size: 12px;
    padding-top: 20px;
}
.bor1 h3{
	border-bottom: 3px solid #cc0000;
	font-size: 15px;
	color: #112b80;
	
}

.bor8 p{
	    background:#D5DBDB;
}

.li-none {
	list-style: none;
}

.hot li{
	list-style-image: url('http://nuce.edu.vn/themes/bartik/images/new.gif'); 
	height: 18px;
}


.image {
	height: 60px;
}

.tab {
	margin-top: 100px;
	margin-left: 130px;
	margin-bottom: 130px;
}

.cong {
	margin-bottom: 135px;
}

footer div {
	color: white;
	background-color: #112b80;
	text-align: center; 
	padding: 5px 10px 3px 20px;
    display: block;
	border-top: 4px solid #CC0000;
	font-size: 12px;
}

.a {
	text-decoration: none;  /*dùng để bỏ phần gạch chân trong thẻ a*/
	color: white;
}
