body {
	margin: 0px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

button{
	-webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
}

.menu1 a {
	text-decoration: none;  /*dùng để bỏ phần gạch chân trong thẻ a*/
	color: white;
	font-family: arial;
	font-size: 12px;
	margin: 15px;
}

#first {
	background-color: #112b80;
	text-align: right;
	border-top: 4px solid #CC0000;
}

#logo1 {
	margin: 20px;
}

#row1 {
	background-color: transparent;
}

.nav1 {
	background-color: #112b80;
}

.nav1 a {
	height: 38px;
	color: white;
    box-shadow: 0px 1px 4px #7E7E7E;
    height: 40px;
        font-family: Arial,"Helvetica Neue",Helvetica,Arial,sans-serif;
            line-height: 1.5;
    font-size: 12px;
        background-position: 0px -98px
}

.main {
	background-color: #F5F1F1;
	padding: 0px;

}

.bor {
	border:2px solid;
    border-style: ridge;
    font-size: 12px;
    width: 494px;
    margin-top: 20px;
}

.bor1 {
	border:2px solid;
    border-style: ridge;
    font-size: 12px;
    padding-top: 20px;
}
.bor1 h3{
	border-bottom: 3px solid #cc0000;
	font-size: 15px;
	color: #112b80;
	
}

#hieutruong {
	 float: right;
     margin-left: 10px;
}

#h5 {
	background-color: #28306d;
	padding: 0px;
	color: #fff;
}

footer div {
	color: white;
	background-color: #112b80;
	text-align: center; 
	padding: 5px 10px 3px 20px;
    display: block;
	border-top: 4px solid #CC0000;
	font-size: 12px;
}

.a {
	text-decoration: none;  /*dùng để bỏ phần gạch chân trong thẻ a*/
	color: white;
}

.li-none {
	list-style: none;
}
.col-md-9 h3{
    font-size: 15px;
	color: #112b80;
}
